
.header {   
    background-color: var(--color-bg-secundary);
    color: var(--color-font-primary);
    height: 70px;
    display: flex;
    align-items: center;  
}

h1 {
    font-size: 24px;
    font-weight: 700;
    margin: 0 auto;
}